*{
	box-sizing: border-box;
}
.current-affairs-head{
	margin:10px;
}


.cards{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	align-items:center;
}

.detailed-page{
	z-index:2;
	position:fixed;
	width:60%;
	height:100vh;
	top:0;
	left:0;
	overflow:scroll;
	padding:20px;
	padding-top:40px;
	background:linear-gradient(35deg,white,lightblue);
}

.detailed-page>button{
	outline:none;
	border:none;
	background:transparent;
	position:fixed;
	top:10px;
	right:10px;
	font-weight:900;
	font-size:30px;
	color:red;
}

.detailed-page>p{
	margin:10px;
	margin-top:30px;
	text-align:left;
}

.detailed-page>img{
	width:100%;
	margin-top:20px;
}

.detailed-page>h6{
	opacity:0.7;
	font-weight:300;
}

@media only screen and (min-width:600px) {
	.detailed-page{
		width: 50%;
		left: 25%;
	}

	.detailed-page>button{
		right: 72%;
	}
	.cards{
		width: 65%;
		margin: auto;
	}
}