.footer-container{
	background-color:grey;
}

.footer-flex{
	display:flex;
	justify-content:space-evenly;
	align-items:center;
	padding-top: 30px;
}

.footer-flex-div>a{
	display:block;
	color:white;
	margin:0;
	padding:0;
	font-size:14px;
}

.footer-flex-div>h5{
	color:white;
	margin:10px
}

